<a href="https://colab.research.google.com/github/DimasAdhie12/JOBSHEET1_PBO_2025/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1 : Tipe data dasar

In [2]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))
# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))
# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print("noted")
print("integer adalah tipe data yang berisi bilangan bulat")
print("float adalah tipe data yang berisi bilangan Desimal")
print("complex adalah tipe data yang berisi bilangan bulat dan bilangan imajiner")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
noted
integer adalah tipe data yang berisi bilangan bulat
float adalah tipe data yang berisi bilangan Desimal
complex adalah tipe data yang berisi bilangan bulat dan bilangan imajiner

In [3]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))
print("noted")
print("Boolean adalah tipe data yang berisi nilai True atau False")

is_active = True -> <class 'bool'>
noted
Boolean adalah tipe data yang berisi nilai True atau False

In [4]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))
print("noted")
print("String adalah tipe data yang berisi huruf/Alfhabet")

teks = Hello, Python! -> <class 'str'>
noted
String adalah tipe data yang berisi huruf/Alfhabet

In [5]:
# 4. List
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

In [6]:
# 5. Tuple
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

koordinat = (10, 20) -> <class 'tuple'>

In [8]:
# 6. Dictionary
data_mahasiswa = {
     "nama": "Andi",
     "nim": "A11.2022.12345",
     "jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

In [10]:
# 7. Set
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

himpunan_angka = {1, 2, 3} -> <class 'set'>

In [11]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

# Praktikum 2 : Variable dan operasi dasar

In [13]:
# -*- coding: utf-8 -*- 02:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True
print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)
# Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

In [14]:
# 2. Operasi Aritmetika
a = 10
b = 3
penjumlahan = a + b      # Tambah
pengurangan = a - b      # Kurang
perkalian = a * b        # Kali
pembagian = a / b        # Bagi (hasil float)
pembagian_bulat = a // b # Bagi (bulat)
modulus = a % b          # Sisa bagi
pangkat = a ** b         # Pemangkatan 28:
print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000

In [15]:
# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b
print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

OPERASI PERBANDINGAN
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [16]:
# 4. Operasi Logika 57: # and, or, not 58:
x = True
y = False
logika_and = x and y
logika_or = x or y
logika_not_x = not x
print("\nOPERASI LOGIKA")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

OPERASI LOGIKA
x = True , y = False
x and y = False
x or y = True
not x = False